/*        CONTENTS      */
/* 1. Overall Styling   */
/* 2. Header            */
/* 3. Home              */
/* 4. About             */
/* 6. Portfolio         */
/* 7. Contact           */

/* TO DO: Clean up stylesheet */

.btn {
  padding: 15px 32px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.5s;
  letter-spacing: 0.6px;
  color: #fff;
  text-transform: uppercase;
  outline: none !important;
}
.btn-custom {
  border: 1px solid;
  background-color: #63adf2;
  border-color: #63adf2;
}
.btn-custom:hover {
  background-color: #5593ce;
  border-color: #5593ce;
  color: #f3f3f3;
}

button#theme-toggle:hover {
  color: #63adf2;
}

.scroll-to-top-btn {
  background-color: #63adf2;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 45px;
  line-height: 45px;
  width: 45px;
  text-align: center;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 999;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}
.scroll-to-top-btn:hover {
  background-color: #17181b;
  color: #63adf2;
}
.bg-light {
  background-color: #f6f7f8 !important;
}
/* ------- 2. Header          ------- */
.nav-container {
  background-color: transparent;
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.nav-container .navbar-nav li a {
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  margin: 0 7px;
  letter-spacing: 0.05em;
  line-height: 24px;
  font-weight: 400;
}
.nav-container .navbar-nav li.active a {
  color: #63adf2;
}
.nav-container .navbar-nav li a:hover {
  color: #63adf2;
}

.nav-container.sticky-active {
  background-color: #fff !important;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.051);
  padding: 15px 0px;
}

.nav-container.sticky-active .navbar-nav li a {
  color: #000;
}
.nav-container.sticky-active .navbar-nav li.active a {
  color: #63adf2;
}
.nav-container.sticky-active .navbar-nav li a:hover {
  color: #63adf2;
}

.navbar-brand {
  font-family: "Arizonia", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
}
.navbar-brand:hover {
  color: #63adf2;
}

.nav-container.sticky-active .navbar-brand {
  color: #000;
}
.nav-container.sticky-active .navbar-brand:hover {
  color: #63adf2;
}

#theme-toggle a {
  color: #fff;
  padding-right: 100px;
}

.nav-container.sticky-active button#theme-toggle {
  color: #17181c;
}

/* ------- 3. Home            ------- */
.home-bg {
  background-image: url("/img/winter_bg.jpg");
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.bg-overlay {
  background-color: rgba(36, 36, 36, 0.747);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.home-table {
  display: table;
  width: 100%;
  height: 100%;
}

.home-table-center {
  display: table-cell;
  vertical-align: middle;
}

.header-content {
  z-index: 5;
}

#welcome {
  color: #fff;
  font-size: 36px;
  font-weight: 900;
}

.typed-container {
  color: #fff;
  font-weight: 300;
}

.socials-header {
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0px 0 0;
}

.socials-header li {
  display: inline;
}

.socials-header li a {
  border-radius: 50px;
  color: #c5c5c5;
  display: inline-block;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  padding: 5px;
  width: 35px;
  margin: 0 2px;
}
.socials-header li a:hover {
  color: #63adf2;
}
.bg-bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 10;
  fill: #fff;
}

/* Scroll animation via https://www.nxworld.net/tips/css-scroll-down-button.html */
#scroll-anim {
  z-index: 99;
}
#scroll-anim a {
  padding-top: 60px;
}

#scroll-anim a span {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  z-index: 99;
}

#scroll-anim a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #63adf2;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
  z-index: 99;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* ------- 4. About           ------- */
.about_content .about_profile img {
  border: 3px solid #63adf2;
  border-radius: 50%;
  height: 250px;
  margin-bottom: 22px;
  position: relative;
  width: 250px;
  z-index: 5;
}

.about_content .about_profile h2 {
  font-weight: 700;
}

/* ------- 5. Skills          ------- */
#skills {
  background-color: #ffffff;
}
.skills_container {
}
.skills_container .tag_list {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}

.skills_container .tag_list button {
  border-color: #e8eaec;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  margin: 6px 4px;
  padding: 7px 15px;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}

.skills_container .tag_list i {
  padding-right: 10px;
}
.stats {
  background-image: url("/img/laptop_bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stats_bg_overlay::before {
  background-color: rgba(36, 36, 36, 0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
.stats_bg_overlay {
  position: relative;
}
.single_stat {
  text-align: center;
}
.single_stat i {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 40px;
}
.single_stat h3.counter {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 800;
}
/* ------- 6. Services       ------- */
.services .services_title {
  font-size: 46px;
  font-weight: 300;
  position: relative;
  margin: -2px 0 0;
  padding-bottom: 20px;
}
.services .services_title span {
  font-weight: 600;
}
.services .single_service {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
  padding: 30px 20px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
.services .single_service .single_service_border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background-color: #63adf2;
}
.services .single_service:hover .single_service_border {
  width: 80px;
}
.services .single_service:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.services .single_service .single_service_icon {
  background-color: rgba(99, 173, 242, 0.15);
  border-radius: 50%;
  font-size: 26px;
  height: 65px;
  line-height: 65px;
  margin: 0 auto 20px;
  width: 65px;
  color: #63adf2;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}
.services .single_service:hover .single_service_icon {
  background-color: #63adf2;
  color: #fff;
}
.services .single_service h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px;
}
/* ------- 7. Testimonials       ------- */
.testimonial_header .title {
  font-size: 46px;
  font-weight: 300;
  position: relative;
  margin: -2px 0 0;
  padding-bottom: 20px;
}
.testimonial_header .title span {
  font-weight: 500;
}
.single_testimonial {
  max-width: 750px;
}
.single_testimonial .testimonial_pic img {
  border: 3px solid #63adf2;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 30px;
  position: relative;
  width: 150px;
  z-index: 5;
}
.single_testimonial h5 {
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
  text-transform: capitalize;
  color: #383838;
}
/* ------- 7. Contact         ------- */
.contact #map {
  width: 100%;
  height: 350px;
}
.contact .icon {
  color: #63adf2;
  display: block;
  margin: 0 auto 20px;
  font-size: 36px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}
.contact-form .form-control {
  box-shadow: none !important;
  font-size: 50px;
  border: 2px solid #e0e0e0;
}
.contact-form textarea.form-control {
  height: auto;
}
.error {
  margin: 8px 0px;
  display: none;
  color: red;
}
.error_msg {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: red;
  font-weight: 700;
}
#success_msg {
  text-align: center;
  margin-bottom: 20px;
}
#success_msg h3 {
  color: #0dba26;
  font-size: 22px;
}
footer {
  background-color: #2b2e33;
}
footer .copyright {
  font-size: 14px;
}
