<section class="ptb-110 bg-light" id="testimonials">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial_header text-center">
                    <h2 class="title">Client <span>Testimonials</span></h2>
                    <p>While I have a lot of projects on the go, many aren't quite yet ready to see the light of day. While I'm waiting to unveil these projects for my clients, shoot me an email and lets start talking about what I can do for you and your business!  </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="single_testimonial text-center mx-auto">
                            <div class="mt-2">
                                <div class="testimonial_pic"><img src="img/profile_placeholder.jpg" alt=""></div>
                                <p class="testimonial_review text-muted font-italic mt-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi facere perspiciatis doloremque vero rerum inventore, consequatur, suscipit.</p>
                                <h5><span class="client_name">John Smith, </span><span class="client_company">Company</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_testimonial text-center mx-auto">
                            <div class="mt-2">
                                <div class="testimonial_pic"><img src="img/profile_placeholder.jpg" alt=""></div>
                                <p class="testimonial_review text-muted font-italic mt-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi facere perspiciatis doloremque vero rerum inventore, consequatur, suscipit.</p>
                                <h5><span class="client_name">John Smith, </span><span class="client_company">Company</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single_testimonial text-center mx-auto">
                            <div class="mt-2">
                                <div class="testimonial_pic text-center"><img src="img/profile_placeholder.jpg" alt=""></div>
                                <p class="testimonial_review text-muted font-italic mt-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi facere perspiciatis doloremque vero rerum inventore, consequatur, suscipit.</p>
                                <h5><span class="client_name">John Smith, </span><span class="client_company">Company</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
